$font-lato: "Lato", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;

$color-white: #ffffff;
$color-bluelight: #789dd8;
$color-blue: #1074d8;
$color-black: #333333;
$color-grey: #e3e3e5;
$color-greylight: #ffffff66;
$color-greyblue: #dfe3ed;
$color-greydark: #999999;

$radius-sm: 8px;
$radius-md: 10px;
$radius-lg: 15px;

$shadow-article: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
$shadow-secondary: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
$shadow-dark: 0px 4px 6px rgba(0, 0, 0, 0.5);

$breakpoint-1440: 1440px;
$breakpoint-960: 960px;
$breakpoint-768: 768px;
$breakpoint-480: 480px;
$breakpoint-360: 360px;

$transition: 0.3s;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: $color-white;
    font-weight: 800;
    font-size: 48px;
    line-height: 57.6px;
    font-family: $font-lato;

    @media (max-width: $breakpoint-960) {
        font-size: 36px;
        line-height: 43.2px;
    }
    @media (max-width: $breakpoint-480) {
        font-size: 24px;
        line-height: 28.8px;
    }
    @media (max-width: $breakpoint-360) {
        font-size: 16px;
        line-height: 19.2px;
    }
}

h2 {
    color: $color-white;
    font-weight: 300;
    font-size: 36px;
    line-height: 43.2px;
    font-family: $font-lato;

    @media (max-width: $breakpoint-960) {
        font-size: 24px;
        line-height: 28.8px;
    }
    @media (max-width: $breakpoint-480) {
        font-size: 16px;
        line-height: 19.2px;
    }
    @media (max-width: $breakpoint-360) {
        font-size: 14px;
        line-height: 16.8px;
    }
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    font-family: $font-poppins;

    @media (max-width: $breakpoint-480) {
        font-size: 24px;
    }
    @media (max-width: $breakpoint-360) {
        font-size: 16px;
    }
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    font-family: $font-opensans;

    @media (max-width: $breakpoint-768) {
        font-size: 14px;
    }

    &.line-height-md {
        line-height: 24px;
    }
}

a {
    color: $color-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    font-family: $font-poppins;
    text-decoration: none;

    @media (max-width: $breakpoint-960) {
        font-size: 16px;
    }
}

button {
    border: none;
    border-radius: $radius-md;
    background: $color-bluelight;
    padding: 18px 30px;
    color: $color-white;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    font-family: $font-lato;
    text-transform: uppercase;
}

/*  */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    max-width: 1240px;
}

.subtitle {
    color: $color-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    font-family: $font-poppins;

    @media (max-width: $breakpoint-360) {
        font-size: 14px;
    }
}

.heading-lg {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    font-family: $font-poppins;

    @media (max-width: $breakpoint-480) {
        font-size: 24px;
        line-height: 36px;
    }
    @media (max-width: $breakpoint-360) {
        font-size: 18px;
    }
}

.heading-md {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    font-family: $font-poppins;
}

/*  */

body {
    background-image: url("./images/backgrounds/main.png");
    background-size: 100vw 746px;
    background-repeat: no-repeat;
    color: $color-black;

    @media (max-width: $breakpoint-960) {
        background-size: 100vw 584px;
    }

    /*  */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        .left-column {
            display: flex;
            align-items: center;
            gap: 20px;

            .languages {
                color: $color-greylight;
                font-weight: 400;
                font-size: 18px;
                line-height: 21.6px;
                font-family: $font-lato;

                @media (max-width: $breakpoint-960) {
                    display: none;
                }

                button {
                    background: none;
                    padding: 0;
                    color: $color-greylight;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.6px;

                    &.active {
                        color: $color-white;
                    }
                }
            }
        }

        .navigation-wrapper {
            @media (max-width: $breakpoint-960) {
                display: grid;
                position: absolute;
                top: 80px;
                right: 20px;
                grid-template-rows: 0fr;
                z-index: 10;
                transition: $transition;
                box-shadow: $shadow-dark;
                border-radius: $radius-sm;
                background: $color-white;
                overflow: hidden;

                &.active {
                    grid-template-rows: 1fr;
                    padding: 10px;
                }
            }

            nav {
                display: flex;
                gap: 30px;

                @media (max-width: $breakpoint-960) {
                    display: block;
                    min-height: 0;
                    text-align: right;
                }

                a {
                    color: $color-white;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21.6px;
                    font-family: $font-lato;
                    text-decoration: none;

                    @media (max-width: $breakpoint-960) {
                        display: block;
                        padding: 8px 0;
                        color: $color-blue;
                    }
                }
            }
        }

        .right-column {
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: $breakpoint-960) {
                display: none;
            }

            a {
                color: $color-white;
                font-weight: 500;
                font-size: 18px;
                line-height: 21.6px;
                font-family: $font-lato;
                text-decoration: none;
            }

            button {
                box-shadow: 0px 1px 10px 0px #779dd8;
                text-transform: uppercase;
            }
        }

        .burger-menu {
            display: block;
            background: none;
            padding: 0;

            @media (min-width: 960px) {
                display: none;
            }
        }
    }

    /*  */

    .main {
        position: relative;
        margin-top: 40px;

        .left-column {
            min-height: 656px;

            @media (max-width: $breakpoint-960) {
                min-height: 456px;
            }
            @media (max-width: $breakpoint-768) {
                min-height: 456px;
            }

            h1 {
                max-width: 803px;

                @media (max-width: $breakpoint-960) {
                    max-width: 600px;
                }

                .underline {
                    border-bottom: 3px solid $color-white;
                    padding-bottom: 4px;
                }
            }

            h2 {
                margin-top: 24px;
                max-width: 590px;
            }

            button {
                margin-top: 30px;
            }
        }

        .banner {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 703px;

            @media (max-width: $breakpoint-960) {
                max-width: 488px;
            }
            @media (max-width: $breakpoint-768) {
                top: auto;
                bottom: 0;
                max-width: 347px;
            }
            @media (max-width: $breakpoint-480) {
                right: 20px;
                bottom: 61px;
                max-width: 264px;
            }
        }
    }

    /*  */

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin-top: 24px;

        @media (max-width: $breakpoint-960) {
            grid-template-columns: 1fr 1fr;
            max-width: 760px;
        }
        @media (max-width: $breakpoint-480) {
            grid-template-columns: 1fr;
            margin-top: 40px;
        }

        article {
            box-shadow: $shadow-article;
            border-radius: $radius-lg;
            padding: 26px 18px;
            text-align: center;

            @media (max-width: $breakpoint-960) {
                padding: 26px 10px;
            }

            .title {
                margin-top: 20px;
                font-weight: 700;
                font-size: 24px;
                line-height: 28.8px;
                font-family: $font-lato;

                @media (max-width: $breakpoint-960) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            p {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    /*  */

    .about {
        display: flex;
        align-items: center;
        margin-top: 24px;
        background-image: url("./images/backgrounds/about.png");
        background-size: 100vw 100%;
        background-repeat: no-repeat;
        min-height: 892.5px;

        @media (max-width: $breakpoint-960) {
            display: grid;
            align-items: start;
            padding-top: 220px;
            min-height: 1568px;
        }
        @media (max-width: $breakpoint-768) {
            margin-top: 60px;
            padding-top: 224px;
        }
        @media (max-width: $breakpoint-480) {
            padding-top: 35px;
            min-height: 1216px;
        }
        @media (max-width: $breakpoint-360) {
            padding-top: 31px;
            min-height: 1096px;
        }

        .container {
            display: grid;
            grid-template-columns: minmax(0, 550px) 555px;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            @media (max-width: $breakpoint-960) {
                grid-template-columns: minmax(0, 550px);
                gap: 96px;
            }
            @media (max-width: $breakpoint-480) {
                gap: 70px;
            }

            img {
                width: 100%;
                max-width: 550px;
            }

            .right-column {
                h3 {
                    margin-top: 10px;
                }

                p {
                    margin-top: 20px;
                }

                .progress-bars {
                    margin-top: 25px;

                    .item {
                        margin-top: 17px;

                        .info {
                            display: flex;
                            justify-content: space-between;

                            .percent {
                                margin-top: 9px;
                                color: $color-blue;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: $font-opensans;
                            }
                        }

                        .bar {
                            position: relative;
                            background: $color-grey;
                            width: 100%;
                            height: 7px;

                            .active {
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: $color-blue;
                                height: 7px;

                                &.web {
                                    width: 90%;
                                }
                                &.seo {
                                    width: 85%;
                                }
                                &.imarket {
                                    width: 70%;
                                }
                                &.mobdev {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*  */

    .why-we {
        display: grid;
        grid-template-columns: minmax(480px, 611px) minmax(400px, 550px);
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media (max-width: $breakpoint-960) {
            grid-template-columns: minmax(0, 911px);
            justify-content: center;
            gap: 60px;
            margin-top: -214px;
        }
        @media (max-width: $breakpoint-768) {
            margin-top: -211px;
        }
        @media (max-width: $breakpoint-480) {
            margin-top: -275px;
        }
        @media (max-width: $breakpoint-360) {
            margin-top: -123px;
        }

        .left-column {
            @media (max-width: $breakpoint-960) {
                order: 2;
            }

            h3 {
                margin-top: 10px;
            }

            p {
                margin-top: 20px;
                max-width: 507px;
            }

            .advantages {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px 35px;
                margin-top: 40px;
                max-width: 575px;

                @media (max-width: $breakpoint-480) {
                    grid-template-columns: 1fr;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    box-shadow: $shadow-secondary;
                    padding: 13px;
                    width: 100%;
                    color: $color-black;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 22.5px;
                    font-family: $font-opensans;
                }
            }
        }

        .banner {
            width: 100%;
            max-width: 550px;

            @media (max-width: $breakpoint-960) {
                order: 1;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    /*  */

    .time-in-it {
        display: flex;
        align-items: center;
        margin-top: 124px;
        background-image: url("./images/backgrounds/time-in-it.png");
        background-size: 100vw 605px;
        background-repeat: no-repeat;
        min-height: 605px;

        @media (max-width: $breakpoint-960) {
            align-items: start;
            margin-top: 60px;
            background-size: 100vw 100%;
            padding-top: 168px;
            padding-bottom: 174px;
        }
        @media (max-width: $breakpoint-480) {
            margin-top: 40px;
            padding-top: 159px;
            padding-bottom: 206px;
        }
        @media (max-width: $breakpoint-360) {
            padding-bottom: 182px;
        }

        .title {
            color: $color-blue;
            text-align: center;
        }

        .achievements {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 10px;
            margin-top: 118px;

            @media (max-width: $breakpoint-960) {
                grid-template-columns: auto auto;
                gap: 88px;
                margin-top: 98px;
                margin-right: auto;
                margin-left: auto;
                max-width: 575px;
            }
            @media (max-width: 600px) {
                gap: 60px 26px;
            }
            @media (max-width: $breakpoint-480) {
                margin-top: 60px;
            }
            @media (max-width: $breakpoint-360) {
                grid-template-columns: 210px;
                justify-content: center;
                gap: 40px;
            }

            .item {
                display: flex;
                align-items: center;
                gap: 15px;
                color: $color-blue;

                img {
                    @media (max-width: $breakpoint-480) {
                        height: 32px;
                    }
                    @media (max-width: $breakpoint-360) {
                        height: auto;
                    }
                }

                .number {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 24px;
                    font-family: $font-poppins;
                }

                .description {
                    text-wrap: nowrap;
                    margin-top: 5px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    font-family: $font-poppins;

                    @media (max-width: 600px) {
                        text-wrap: wrap;
                    }
                }
            }
        }
    }

    /*  */

    .join-us {
        text-align: center;

        .heading-lg {
            margin-top: 10px;
        }

        .jobs {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            margin-top: 40px;

            @media (max-width: $breakpoint-960) {
                grid-template-columns: minmax(200px, 350px) minmax(200px, 350px);
                justify-content: center;
                margin-top: 76px;
            }
            @media (max-width: $breakpoint-480) {
                grid-template-columns: 1fr;
            }

            div {
                box-shadow: $shadow-secondary;
                border-radius: $radius-sm;
                padding: 17px;
                color: $color-blue;

                @media (max-width: $breakpoint-960) {
                    width: 100%;
                    max-width: 350px;

                    @media (max-width: $breakpoint-480) {
                        margin-right: auto;
                        margin-left: auto;
                    }

                    &:last-child {
                        grid-column-start: -3;
                        grid-column-end: -1;
                        margin-right: auto;
                        margin-left: auto;

                        @media (max-width: $breakpoint-480) {
                            grid-column-start: auto;
                            grid-column-end: auto;
                        }
                    }
                }
            }
        }
    }

    /*  */

    footer {
        display: flex;
        align-items: end;
        margin-top: 42px;
        background-image: url("./images/backgrounds/footer.png");
        background-size: 100vw 100%;
        background-repeat: no-repeat;
        min-height: 764px;
        color: $color-white;

        @media (max-width: $breakpoint-960) {
            align-items: start;
            margin-top: 80px;
            min-height: auto;
        }
        @media (max-width: $breakpoint-480) {
            margin-top: 76px;
        }
        @media (max-width: $breakpoint-360) {
            margin-top: 60px;
        }

        .container {
            .content {
                display: grid;
                grid-template-columns: minmax(350px, 550px) auto;
                justify-content: space-between;
                align-items: center;
                gap: 30px;

                @media (max-width: $breakpoint-960) {
                    grid-template-columns: minmax(0, 556px);
                    justify-content: center;
                    gap: 60px;
                }
                @media (max-width: $breakpoint-480) {
                    grid-template-columns: 1fr;
                }
                @media (max-width: $breakpoint-360) {
                    gap: 12px;
                }

                img {
                    width: 100%;
                    max-width: 463px;

                    @media (max-width: $breakpoint-960) {
                        margin: -20px auto 0 auto;
                    }
                    @media (max-width: $breakpoint-480) {
                        margin-top: -16px;
                        max-width: 365px;
                    }
                    @media (max-width: $breakpoint-360) {
                        margin-top: 30px;
                    }
                }

                .right-column {
                    .subtitle {
                        color: $color-white;
                    }

                    h3 {
                        margin-top: 10px;
                    }

                    form {
                        margin-top: 56px;

                        input {
                            display: block;
                            margin-top: 25px;
                            border: 1px solid $color-greyblue;
                            padding: 5px 10px;
                            width: 100%;
                            max-width: 270px;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 36px;
                            font-family: $font-roboto;

                            &::placeholder {
                                color: $color-greydark;
                            }
                        }

                        .g-recaptcha {
                            margin-top: 25px;
                        }

                        button {
                            margin-top: 25px;
                            background: $color-blue;
                            padding: 15px 40px;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 15px;
                            font-family: $font-opensans;
                            text-align: center;
                            text-transform: inherit;
                        }
                    }
                }
            }

            .subcontent {
                margin-top: 40px;
                padding-top: 24px;
                padding-bottom: 24px;
                font-family: $font-opensans;
                text-align: center;

                @media (max-width: $breakpoint-960) {
                    margin-top: 40px;
                }
                @media (max-width: $breakpoint-480) {
                    font-size: 14px;
                }
                @media (max-width: $breakpoint-360) {
                    margin-top: 113px;
                    font-size: 11px;
                }
            }
        }
    }
}
