* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;
  color: #ffffff;
}
@media (max-width: 960px) {
  h1 {
    font-size: 36px;
    line-height: 43.2px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    line-height: 28.8px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 16px;
    line-height: 19.2px;
  }
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.2px;
  color: #ffffff;
}
@media (max-width: 960px) {
  h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 16px;
    line-height: 19.2px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 14px;
    line-height: 16.8px;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 360px) {
  h3 {
    font-size: 16px;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
}
@media (max-width: 768px) {
  p {
    font-size: 14px;
  }
}
p.line-height-md {
  line-height: 24px;
}

a {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: #1074d8;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 960px) {
  a {
    font-size: 16px;
  }
}

button {
  padding: 18px 30px;
  border-radius: 10px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  background: #789dd8;
  color: #ffffff;
  text-transform: uppercase;
}

/*  */
.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #1074d8;
}
@media (max-width: 360px) {
  .subtitle {
    font-size: 14px;
  }
}

.heading-lg {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 480px) {
  .heading-lg {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 360px) {
  .heading-lg {
    font-size: 18px;
  }
}

.heading-md {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

/*  */
body {
  color: #333333;
  background-image: url("./images/backgrounds/main.png");
  background-repeat: no-repeat;
  background-size: 100vw 740px;
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
}
@media (max-width: 960px) {
  body {
    background-size: 100vw 584px;
  }
}
body header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .left-column {
  display: flex;
  align-items: center;
  gap: 20px;
}
body header .left-column .languages {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 960px) {
  body header .left-column .languages {
    display: none;
  }
}
body header .left-column .languages button {
  color: rgba(255, 255, 255, 0.4);
  background: none;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
body header .left-column .languages button.active {
  color: #ffffff;
}
body header .navigation {
  display: flex;
  gap: 30px;
}
@media (max-width: 960px) {
  body header .navigation {
    display: none;
  }
}
body header .navigation a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-decoration: none;
  color: #ffffff;
}
body header .right-column {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 960px) {
  body header .right-column {
    display: none;
  }
}
body header .right-column a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-decoration: none;
  color: #ffffff;
}
body header .right-column button {
  box-shadow: 0px 1px 10px 0px #779dd8;
  text-transform: uppercase;
}
body header .burger-menu {
  display: block;
  background: none;
  padding: 0;
}
@media (min-width: 960px) {
  body header .burger-menu {
    display: none;
  }
}
body .main {
  margin-top: 40px;
  position: relative;
}
body .main .left-column h1 {
  max-width: 803px;
}
@media (max-width: 960px) {
  body .main .left-column h1 {
    max-width: 600px;
  }
}
body .main .left-column h1 .underline {
  text-decoration: underline;
}
body .main .left-column h2 {
  max-width: 590px;
  margin-top: 24px;
}
body .main .left-column button {
  margin-top: 30px;
}
body .main .banner {
  max-width: 703px;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 960px) {
  body .main .banner {
    max-width: 488px;
  }
}
@media (max-width: 768px) {
  body .main .banner {
    max-width: 347px;
    top: auto;
    bottom: -136px;
  }
}
@media (max-width: 480px) {
  body .main .banner {
    max-width: 264px;
  }
}
@media (max-width: 360px) {
  body .main .banner {
    bottom: -183px;
  }
}
body .services {
  margin-top: 230px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media (max-width: 960px) {
  body .services {
    margin-top: 160px;
    max-width: 760px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  body .services {
    margin-top: 181px;
  }
}
@media (max-width: 480px) {
  body .services {
    margin-top: 248px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  body .services {
    margin-top: 284px;
  }
}
body .services article {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  padding: 26px 18px;
  text-align: center;
  border-radius: 15px;
}
@media (max-width: 960px) {
  body .services article {
    padding: 26px 10px;
  }
}
body .services article .title {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}
@media (max-width: 960px) {
  body .services article .title {
    font-size: 20px;
    line-height: 24px;
  }
}
body .services article p {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .about {
  min-height: 892.5px;
  margin-top: 24px;
  background-image: url("./images/backgrounds/about.png");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 960px) {
  body .about {
    min-height: 1568px;
    display: grid;
    padding-top: 220px;
    align-items: start;
  }
}
@media (max-width: 768px) {
  body .about {
    margin-top: 60px;
    padding-top: 224px;
  }
}
@media (max-width: 480px) {
  body .about {
    min-height: 1216px;
    padding-top: 35px;
  }
}
@media (max-width: 360px) {
  body .about {
    min-height: 1096px;
    padding-top: 31px;
  }
}
body .about .container {
  display: grid;
  grid-template-columns: minmax(0, 550px) 555px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 960px) {
  body .about .container {
    grid-template-columns: minmax(0, 550px);
    gap: 96px;
  }
}
@media (max-width: 480px) {
  body .about .container {
    gap: 70px;
  }
}
body .about .container img {
  width: 100%;
  max-width: 550px;
}
body .about .container .right-column h3 {
  margin-top: 10px;
}
body .about .container .right-column p {
  margin-top: 20px;
}
body .about .container .right-column .progress-bars {
  margin-top: 25px;
}
body .about .container .right-column .progress-bars .item {
  margin-top: 17px;
}
body .about .container .right-column .progress-bars .item .info {
  display: flex;
  justify-content: space-between;
}
body .about .container .right-column .progress-bars .item .info .percent {
  margin-top: 9px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #1074d8;
}
body .about .container .right-column .progress-bars .item .bar {
  width: 90%;
  margin-top: 10px;
  height: 7px;
  background: #1074d8;
}
body .about .container .right-column .progress-bars .item .bar::after {
  display: block;
  height: 7px;
  background: #e3e3e5;
  width: 100%;
}
body .why-we {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  grid-template-columns: minmax(480px, 611px) minmax(400px, 550px);
}
@media (max-width: 960px) {
  body .why-we {
    margin-top: -214px;
    grid-template-columns: minmax(0, 911px);
    justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  body .why-we {
    margin-top: -211px;
  }
}
@media (max-width: 480px) {
  body .why-we {
    margin-top: -275px;
  }
}
@media (max-width: 360px) {
  body .why-we {
    margin-top: -123px;
  }
}
@media (max-width: 960px) {
  body .why-we .left-column {
    order: 2;
  }
}
body .why-we .left-column h3 {
  margin-top: 10px;
}
body .why-we .left-column p {
  max-width: 507px;
  margin-top: 20px;
}
body .why-we .left-column .advantages {
  max-width: 575px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 35px;
}
@media (max-width: 480px) {
  body .why-we .left-column .advantages {
    grid-template-columns: 1fr;
  }
}
body .why-we .left-column .advantages a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  color: #333333;
}
body .why-we .banner {
  width: 100%;
  max-width: 550px;
}
@media (max-width: 960px) {
  body .why-we .banner {
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }
}
body .time-in-it {
  min-height: 605px;
  margin-top: 124px;
  background-image: url("./images/backgrounds/time-in-it.png");
  background-size: 100vw 605px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media (max-width: 960px) {
  body .time-in-it {
    margin-top: 60px;
    background-size: 100vw 100%;
    align-items: start;
    padding-top: 168px;
    padding-bottom: 174px;
  }
}
@media (max-width: 480px) {
  body .time-in-it {
    margin-top: 40px;
    padding-bottom: 206px;
    padding-top: 159px;
  }
}
@media (max-width: 360px) {
  body .time-in-it {
    padding-bottom: 182px;
  }
}
body .time-in-it .title {
  color: #1074d8;
  text-align: center;
}
body .time-in-it .achievements {
  margin-top: 118px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}
@media (max-width: 960px) {
  body .time-in-it .achievements {
    max-width: 575px;
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto;
    gap: 88px;
  }
}
@media (max-width: 600px) {
  body .time-in-it .achievements {
    gap: 60px 26px;
  }
}
@media (max-width: 480px) {
  body .time-in-it .achievements {
    margin-top: 60px;
  }
}
@media (max-width: 360px) {
  body .time-in-it .achievements {
    gap: 40px;
    grid-template-columns: 210px;
    justify-content: center;
  }
}
body .time-in-it .achievements .item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #1074d8;
}
@media (max-width: 480px) {
  body .time-in-it .achievements .item img {
    height: 32px;
  }
}
@media (max-width: 360px) {
  body .time-in-it .achievements .item img {
    height: auto;
  }
}
body .time-in-it .achievements .item .number {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
body .time-in-it .achievements .item .description {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-wrap: nowrap;
}
@media (max-width: 600px) {
  body .time-in-it .achievements .item .description {
    text-wrap: wrap;
  }
}
body .join-us {
  text-align: center;
}
body .join-us .heading-lg {
  margin-top: 10px;
}
body .join-us .jobs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 960px) {
  body .join-us .jobs {
    margin-top: 76px;
    grid-template-columns: minmax(200px, 350px) minmax(200px, 350px);
    justify-content: center;
  }
}
@media (max-width: 480px) {
  body .join-us .jobs {
    grid-template-columns: 1fr;
  }
}
body .join-us .jobs div {
  color: #1074d8;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
  padding: 17px;
  border-radius: 8px;
}
@media (max-width: 960px) {
  body .join-us .jobs div {
    width: 100%;
    max-width: 350px;
  }
}
@media (max-width: 960px) and (max-width: 480px) {
  body .join-us .jobs div {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 960px) {
  body .join-us .jobs div:last-child {
    grid-column-start: -3;
    grid-column-end: -1;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 960px) and (max-width: 480px) {
  body .join-us .jobs div:last-child {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
body footer {
  min-height: 764px;
  margin-top: 42px;
  background-image: url("./images/backgrounds/footer.png");
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  color: #ffffff;
}
@media (max-width: 960px) {
  body footer {
    margin-top: 80px;
    min-height: auto;
    align-items: start;
  }
}
@media (max-width: 480px) {
  body footer {
    margin-top: 76px;
  }
}
@media (max-width: 360px) {
  body footer {
    margin-top: 60px;
  }
}
body footer .container .content {
  display: grid;
  grid-template-columns: minmax(350px, 550px) auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 960px) {
  body footer .container .content {
    grid-template-columns: minmax(0, 556px);
    justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 480px) {
  body footer .container .content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 360px) {
  body footer .container .content {
    gap: 12px;
  }
}
body footer .container .content img {
  width: 100%;
  max-width: 463px;
}
@media (max-width: 960px) {
  body footer .container .content img {
    margin: -20px auto 0 auto;
  }
}
@media (max-width: 480px) {
  body footer .container .content img {
    margin-top: -16px;
    max-width: 365px;
  }
}
@media (max-width: 360px) {
  body footer .container .content img {
    margin-top: 30px;
  }
}
body footer .container .content .right-column .subtitle {
  color: #ffffff;
}
body footer .container .content .right-column h3 {
  margin-top: 10px;
}
body footer .container .content .right-column form {
  margin-top: 56px;
}
body footer .container .content .right-column form input {
  width: 100%;
  max-width: 270px;
  display: block;
  border: 1px solid #dfe3ed;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  padding: 5px 10px;
  margin-top: 25px;
}
body footer .container .content .right-column form input::-moz-placeholder {
  color: #999999;
}
body footer .container .content .right-column form input::placeholder {
  color: #999999;
}
body footer .container .content .right-column form .g-recaptcha {
  margin-top: 25px;
}
body footer .container .content .right-column form button {
  margin-top: 25px;
  background: #1074d8;
  padding: 15px 40px;
  text-transform: inherit;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
body footer .container .subcontent {
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 960px) {
  body footer .container .subcontent {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  body footer .container .subcontent {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  body footer .container .subcontent {
    margin-top: 113px;
    font-size: 11px;
  }
}/*# sourceMappingURL=index.css.map */