:root {
    --font-lato: "Lato", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --color-white: #ffffff;
    --color-bluelight: #789dd8;
    --color-blue: #1074d8;
    --color-black: #333333;
    --color-grey: #e3e3e5;
    --color-greylight: #ffffff66;
    --color-greyblue: #dfe3ed;
    --color-greydark: #999999;

    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 15px;

    --shadow-article: 0px 0px 7px 0px #0000001a;
    --shadow-secondary: 0px 0px 8px 0px #0000000d;

    --breakpoint-1440: 1440px;
    --breakpoint-960: 960px;
    --breakpoint-768: 768px;
    --breakpoint-480: 480px;
    --breakpoint-360: 360px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-lato);
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    color: var(--color-white);

    @media (max-width: 960px) {
        font-size: 36px;
        line-height: 43.2px;
    }
    @media (max-width: 480px) {
        font-size: 24px;
        line-height: 28.8px;
    }
    @media (max-width: 360px) {
        font-size: 16px;
        line-height: 19.2px;
    }
}

h2 {
    font-family: var(--font-lato);
    font-size: 36px;
    font-weight: 300;
    line-height: 43.2px;
    color: var(--color-white);

    @media (max-width: 960px) {
        font-size: 24px;
        line-height: 28.8px;
    }
    @media (max-width: 480px) {
        font-size: 16px;
        line-height: 19.2px;
    }
    @media (max-width: 360px) {
        font-size: 14px;
        line-height: 16.8px;
    }
}

h3 {
    font-family: var(--font-poppins);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media (max-width: 480px) {
        font-size: 24px;
    }
    @media (max-width: 360px) {
        font-size: 16px;
    }
}

p {
    font-family: var(--font-opensans);
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    &.line-height-md {
        line-height: 24px;
    }
}

a {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    color: var(--color-blue);
    text-decoration: none;
    font-family: var(--font-poppins);

    @media (max-width: 960px) {
        font-size: 16px;
    }
}

button {
    padding: 18px 30px;
    border-radius: var(--radius-md);
    border: none;
    font-family: var(--font-lato);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    background: var(--color-bluelight);
    color: var(--color-white);
    text-transform: uppercase;
}

/*  */

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.subtitle {
    font-family: var(--font-poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-blue);

    @media (max-width: 360px) {
        font-size: 14px;
    }
}

.heading-lg {
    font-family: var(--font-poppins);
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    @media (max-width: 480px) {
        font-size: 24px;
        line-height: 36px;
    }
    @media (max-width: 360px) {
        font-size: 18px;
    }
}

.heading-md {
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

/*  */

body {
    color: var(--color-black);
    background-image: url("./images/backgrounds/main.png");
    background-repeat: no-repeat;
    background-size: 100vw 740px;

    @media (max-width: 960px) {
        background-size: 100vw 584px;
    }

    /*  */

    header {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-column {
            display: flex;
            align-items: center;
            gap: 20px;

            .languages {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                font-family: var(--font-lato);
                color: var(--color-greylight);

                @media (max-width: 960px) {
                    display: none;
                }

                a {
                    color: var(--color-greylight);
                    text-decoration: none;

                    &.active {
                        color: var(--color-white);
                    }
                }
            }
        }

        .navigation {
            display: flex;
            gap: 30px;

            @media (max-width: 960px) {
                display: none;
            }

            a {
                font-family: var(--font-lato);
                font-size: 18px;
                font-weight: 500;
                line-height: 21.6px;
                text-decoration: none;
                color: var(--color-white);
            }
        }

        .right-column {
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: 960px) {
                display: none;
            }

            a {
                font-family: var(--font-lato);
                font-size: 18px;
                font-weight: 500;
                line-height: 21.6px;
                text-decoration: none;
                color: var(--color-white);
            }

            button {
                box-shadow: 0px 1px 10px 0px #779dd8;
            }
        }

        .burger-menu {
            display: block;
            background: none;
            padding: 0;

            @media (min-width: 960px) {
                display: none;
            }
        }
    }

    /*  */

    .main {
        margin-top: 40px;
        position: relative;

        .left-column {
            h1 {
                max-width: 803px;

                @media (max-width: 960px) {
                    max-width: 600px;
                }

                .underline {
                    text-decoration: underline;
                }
            }

            h2 {
                max-width: 590px;
                margin-top: 24px;
            }

            button {
                margin-top: 30px;
            }
        }

        .banner {
            max-width: 703px;
            position: absolute;
            right: 0;
            top: 0;

            @media (max-width: 960px) {
                max-width: 488px;
            }
            @media (max-width: 768px) {
                max-width: 347px;
                top: auto;
                bottom: -136px;
            }
            @media (max-width: 480px) {
                max-width: 264px;
            }
            @media (max-width: 360px) {
                bottom: -183px;
            }
        }
    }

    /*  */

    .services {
        margin-top: 230px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

        @media (max-width: 960px) {
            margin-top: 160px;
            max-width: 760px;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            margin-top: 181px;
        }
        @media (max-width: 480px) {
            margin-top: 248px;
            grid-template-columns: 1fr;
        }
        @media (max-width: 320px) {
            margin-top: 284px;
        }

        article {
            box-shadow: var(--shadow-article);
            padding: 26px 18px;
            text-align: center;
            border-radius: var(--radius-lg);

            @media (max-width: 960px) {
                padding: 26px 10px;
            }

            .title {
                margin-top: 20px;
                font-family: var(--font-lato);
                font-size: 24px;
                font-weight: 700;
                line-height: 28.8px;

                @media (max-width: 960px) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            p {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    /*  */

    .about {
        min-height: 892.5px;
        margin-top: 24px;
        background-image: url("./images/backgrounds/about.png");
        background-repeat: no-repeat;
        background-size: 100vw 100%;
        display: flex;
        align-items: center;

        @media (max-width: 960px) {
            min-height: 1568px;
            display: grid;
            padding-top: 220px;
            align-items: start;
        }
        @media (max-width: 768px) {
            margin-top: 60px;
            padding-top: 224px;
        }
        @media (max-width: 480px) {
            min-height: 1216px;
            padding-top: 35px;
        }
        @media (max-width: 360px) {
            min-height: 1096px;
            padding-top: 31px;
        }

        .container {
            display: grid;
            grid-template-columns: minmax(0, 550px) 555px;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            @media (max-width: 960px) {
                grid-template-columns: minmax(0, 550px);
                gap: 96px;
            }
            @media (max-width: 480px) {
                gap: 70px;
            }

            img {
                width: 100%;
                max-width: 550px;
            }

            .right-column {
                h3 {
                    margin-top: 10px;
                }

                p {
                    margin-top: 20px;
                }

                .progress-bars {
                    margin-top: 25px;

                    .item {
                        margin-top: 17px;

                        .info {
                            display: flex;
                            justify-content: space-between;

                            .percent {
                                margin-top: 9px;
                                font-family: var(--font-opensans);
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 14px;
                                color: var(--color-blue);
                            }
                        }

                        .bar {
                            width: 90%;
                            margin-top: 10px;
                            height: 7px;
                            background: var(--color-blue);

                            &::after {
                                display: block;
                                height: 7px;
                                background: var(--color-grey);
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    /*  */

    .why-we {
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        grid-template-columns: minmax(480px, 611px) minmax(400px, 550px);

        @media (max-width: 960px) {
            margin-top: -214px;
            grid-template-columns: minmax(0, 911px);
            justify-content: center;
            gap: 60px;
        }
        @media (max-width: 768px) {
            margin-top: -211px;
        }
        @media (max-width: 480px) {
            margin-top: -275px;
        }
        @media (max-width: 360px) {
            margin-top: -123px;
        }

        .left-column {
            @media (max-width: 960px) {
                order: 2;
            }

            h3 {
                margin-top: 10px;
            }

            p {
                max-width: 507px;
                margin-top: 20px;
            }

            .advantages {
                max-width: 575px;
                margin-top: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px 35px;

                @media (max-width: 480px) {
                    grid-template-columns: 1fr;
                }

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 13px;
                    box-shadow: var(--shadow-secondary);
                    font-family: var(--font-opensans);
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22.5px;
                    color: var(--color-black);
                }
            }
        }

        .banner {
            width: 100%;
            max-width: 550px;

            @media (max-width: 960px) {
                order: 1;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    /*  */

    .time-in-it {
        min-height: 605px;
        margin-top: 124px;
        background-image: url("./images/backgrounds/time-in-it.png");
        background-size: 100vw 605px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;

        @media (max-width: 960px) {
            margin-top: 60px;
            background-size: 100vw 100%;
            align-items: start;
            padding-top: 168px;
            padding-bottom: 174px;
        }
        @media (max-width: 480px) {
            margin-top: 40px;
            padding-bottom: 206px;
            padding-top: 159px;
        }
        @media (max-width: 360px) {
            padding-bottom: 182px;
        }

        .title {
            color: var(--color-blue);
            text-align: center;
        }

        .achievements {
            margin-top: 118px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 10px;

            @media (max-width: 960px) {
                max-width: 575px;
                margin-top: 98px;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: auto auto;
                gap: 88px;
            }
            @media (max-width: 600px) {
                gap: 60px 26px;
            }
            @media (max-width: 480px) {
                margin-top: 60px;
            }
            @media (max-width: 360px) {
                gap: 40px;
                grid-template-columns: 210px;
                justify-content: center;
            }

            .item {
                display: flex;
                align-items: center;
                gap: 15px;
                color: var(--color-blue);

                img {
                    @media (max-width: 480px) {
                        height: 32px;
                    }
                    @media (max-width: 360px) {
                        height: auto;
                    }
                }

                .number {
                    font-family: var(--font-poppins);
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .description {
                    margin-top: 5px;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                    text-wrap: nowrap;

                    @media (max-width: 600px) {
                        text-wrap: wrap;
                    }
                }
            }
        }
    }

    /*  */

    .join-us {
        text-align: center;

        .heading-lg {
            margin-top: 10px;
        }

        .jobs {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            @media (max-width: 960px) {
                margin-top: 76px;
                grid-template-columns: minmax(200px, 350px) minmax(200px, 350px);
                justify-content: center;
            }
            @media (max-width: 480px) {
                grid-template-columns: 1fr;
            }

            div {
                color: var(--color-blue);
                box-shadow: var(--shadow-secondary);
                padding: 17px;
                border-radius: var(--radius-sm);

                @media (max-width: 960px) {
                    width: 100%;
                    max-width: 350px;

                    @media (max-width: 480px) {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &:last-child {
                        grid-column-start: -3;
                        grid-column-end: -1;
                        margin-left: auto;
                        margin-right: auto;

                        @media (max-width: 480px) {
                            grid-column-start: auto;
                            grid-column-end: auto;
                        }
                    }
                }
            }
        }
    }

    /*  */

    footer {
        min-height: 764px;
        margin-top: 42px;
        background-image: url("./images/backgrounds/footer.png");
        background-size: 100vw 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: end;
        color: var(--color-white);

        .container {
            .content {
                display: grid;
                grid-template-columns: minmax(0, 550px) 555px;
                justify-content: space-between;
                align-items: center;
                gap: 30px;

                img {
                    max-width: 463px;
                }

                .right-column {
                    .subtitle {
                        color: var(--color-white);
                    }

                    h3 {
                        margin-top: 10px;
                    }

                    form {
                        margin-top: 56px;

                        input {
                            width: 100%;
                            max-width: 270px;
                            display: block;
                            border: 1px solid var(--color-greyblue);
                            font-family: var(--font-roboto);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 36px;
                            padding: 5px 10px;
                            margin-top: 25px;

                            &::placeholder {
                                color: var(--color-greydark);
                            }
                        }

                        .g-recaptcha {
                            margin-top: 25px;
                        }

                        button {
                            margin-top: 25px;
                            background: var(--color-blue);
                            padding: 15px 40px;
                            text-transform: inherit;
                            font-family: var(--font-opensans);
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 15px;
                            text-align: center;
                        }
                    }
                }
            }

            .subcontent {
                font-family: var(--font-opensans);
                margin-top: 40px;
                text-align: center;
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }
    }
}
